@charset "UTF-8";

*{
   padding:0%; 
   margin: 0%;
   font-size: 1em;
   box-sizing: border-box;
   text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

header{
    background-color: black;
    height: 326px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

    
}

a{
color: white;

}

a:hover{
    text-decoration: underline;
}

nav h1{
    font-size:7vw;
    font-family: var(--fonte2);
    font-variant: small-caps;
    

}

nav p{
    text-align: center;
    font-size: 15px;    
    font-family: var(--fonte1)
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 3vw;
    padding-left: 26px;
    font-family: var(--fonte2);
    font-style: italic;
    font-weight: 600;
}

article{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 60px;
    padding-left: 26px;
}

.imagem-primaria{
    color: white;
    background-image: url(imagens/background001.jpg);
    background-color: black;
   background-attachment: fixed;
   background-size: cover;
   background-position: right center;
   
}

.imagem-secundaria{
    color: white;
    background-image:url(imagens/background002.jpg);
    background-color: rgba(0, 0, 0, 0.137);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

.paragrafo-img{
    background-color: rgba(0, 0, 0, 0.521);
    width: 43%;
    padding: 6px;
    text-shadow: 1px 2px 0px black;

}

.paragrafo-img2{
    background-color: rgba(0, 0, 0, 0.486);
    width: 43%;
    padding: 6px;
    text-shadow: 1px 1px 0px black;
}

footer{
    background-color: black;
    color: white;
   text-align: center;
   padding: 11px;
   font-family: var(--fonte1);
   font-weight: 100;
}

strong{
    font-size: 18px;
}